## 날짜 데이터

In [21]:
import pandas as pd
df=pd.DataFrame({'일시':['2020.7.1 19:00',
                       '2020.7.1 19:00',
                       '2020.7.14 12:00',
                       '2023.8.1 23:00',
                       '2020.7.19 08:00',
                       '2020.9.1 23:00',
                       '2022.7.14 21:00',
                       '2023.5.1 4:00']})
df

                일시
0   2020.7.1 19:00
1   2020.7.1 19:00
2  2020.7.14 12:00
3   2023.8.1 23:00
4  2020.7.19 08:00
5   2020.9.1 23:00
6  2022.7.14 21:00
7    2023.5.1 4:00

In [22]:
df.info()

#datetime이 맞는지 확인 , 지금 object임

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      8 non-null      object
dtypes: object(1)
memory usage: 192.0+ bytes

In [23]:
#df['일시']=df['일시'].apply(pd.to_datetime)
df['일시']=df.일시.apply(pd.to_datetime)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      8 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 192.0 bytes

In [30]:
#s1
df=df.assign(
            year=df.일시.dt.year,
            month=df.일시.dt.month,
            day=df.일시.dt.day,
            
            quarter=df.일시.dt.quarter,
            weekdaty=df.일시.dt.weekday,
            weekofyear=df.일시.dt.weekofyear,
            
            month_start=df.일시.dt.is_month_start,
            quarter_end=df.일시.dt.is_quarter_end,
    
            daysinmonth=df.일시.dt.daysinmonth
    
)

df

C:\Users\oye01\anaconda3\envs\pydatavenv\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  if __name__ == '__main__':

,일시,year,month,day,quarter,weekdaty,weekofyear,month_start,quarter_end,daysinmonth
0,2020-07-01 19:00:00,2020,7,1,3,2,27,True,False,31
1,2020-07-01 19:00:00,2020,7,1,3,2,27,True,False,31
2,2020-07-14 12:00:00,2020,7,14,3,1,29,False,False,31
3,2023-08-01 23:00:00,2023,8,1,3,1,31,True,False,31
4,2020-07-19 08:00:00,2020,7,19,3,6,29,False,False,31
5,2020-09-01 23:00:00,2020,9,1,3,1,36,True,False,30
6,2022-07-14 21:00:00,2022,7,14,3,3,28,False,False,31
7,2023-05-01 04:00:00,2023,5,1,2,0,18,True,False,31

In [31]:
#s2
df['year']=df.일시.apply(lambda x : x.year)
df['month']=df.일시.apply(lambda x: x.month)
df['day']=df.일시.apply(lambda x : x.day)
df['hour']=df.일시.apply(lambda x: x.hour)
df['minute']=df.일시.apply(lambda x:x.minute)

#s3
df['weekday']=df['일시'].dt.weekday
df['weekofyear']=df['일시'].dt.weekofyear
df['quarter']=df['일시'].dt.quarter


#he
#train_err['time'] = train_err['time'].apply(lambda x: dt.datetime(int(str(x)[:4]), int(str(x)[4:6]), int(str(x)[6:8]), int(str(x)[8:10])))
#my
#train_err['time']=pd.to_datetime(train_err['time'], format='%Y%m%d%H%M%S')
## train_err['time']=[datetime.datetime.strptime(str(i),'%Y%m%d%H%M%S') for i in train_err['time']]
#wj
#err['time']=pd.to_datetime(err['time'],format='%Y%m%d%H%M%S')
# 시간 단위로 내릴려면...
#err.loc[0:10]['time'].dt.floor('H')

C:\Users\oye01\anaconda3\envs\pydatavenv\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  # Remove the CWD from sys.path while we load stuff.

In [32]:
df

,일시,year,month,day,quarter,weekdaty,weekofyear,month_start,quarter_end,daysinmonth,hour,minute,weekday
0,2020-07-01 19:00:00,2020,7,1,3,2,27,True,False,31,19,0,2
1,2020-07-01 19:00:00,2020,7,1,3,2,27,True,False,31,19,0,2
2,2020-07-14 12:00:00,2020,7,14,3,1,29,False,False,31,12,0,1
3,2023-08-01 23:00:00,2023,8,1,3,1,31,True,False,31,23,0,1
4,2020-07-19 08:00:00,2020,7,19,3,6,29,False,False,31,8,0,6
5,2020-09-01 23:00:00,2020,9,1,3,1,36,True,False,30,23,0,1
6,2022-07-14 21:00:00,2022,7,14,3,3,28,False,False,31,21,0,3
7,2023-05-01 04:00:00,2023,5,1,2,0,18,True,False,31,4,0,0

In [ ]:
w=w.assign(
            year=w.Date.dt.year,
            month=w.Date.dt.month,
            day=w.Date.dt.day
            )

df=pd.merge(df,w,how='left',on=['year','month','day'])
df.head()

#https://www.youtube.com/watch?v=M_KLFxRTiTY&t=29s

In [ ]:
# time컬럼 datetime으로 변경
tr_err['time']=pd.to_datetime(tr_err['time'], format='%Y%m%d%H%M%S')
tr_pro['time']=pd.to_datetime(tr_pro['time'], format='%Y%m%d%H%M%S')
tr_qual['time']=pd.to_datetime(tr_qual['time'], format='%Y%m%d%H%M%S')
ts_err['time']=pd.to_datetime(ts_err['time'], format='%Y%m%d%H%M%S')
ts_qual['time']=pd.to_datetime(ts_qual['time'], format='%Y%m%d%H%M%S')

In [ ]:
## datetime으로 바꾸기
train_err['time'] = train_err['time'].apply(lambda x: dt.datetime(int(str(x)[:4]), int(str(x)[4:6]), int(str(x)[6:8]), int(str(x)[8:10])))
train_qual['time'] = train_qual['time'].apply(lambda x: dt.datetime(int(str(x)[:4]), int(str(x)[4:6]), int(str(x)[6:8]), int(str(x)[8:10])))
train_prob['time'] = train_prob['time'].apply(lambda x: dt.datetime(int(str(x)[:4]), int(str(x)[4:6]), int(str(x)[6:8]), int(str(x)[8:10])))

test_err['time'] = test_err['time'].apply(lambda x: dt.datetime(int(str(x)[:4]), int(str(x)[4:6]), int(str(x)[6:8]), int(str(x)[8:10])))
test_qual['time'] = test_qual['time'].apply(lambda x: dt.datetime(int(str(x)[:4]), int(str(x)[4:6]), int(str(x)[6:8]), int(str(x)[8:10])))